<div class="row">
    <h1>Fetched {{pokemons.length}} pokemons!</h1>
    <input class="form-control" placeholder="Filter Pokemon" type="text" ng-model="filterBy" ng-init="filterLimit = 20">
</div>
<div class="row">
    <div ng-repeat="poke in (filteredPokemons = (pokemons | orderBy: id| filter: filterBy | limitTo:filterLimit))">
        <div class="pokecard" ng-click="changeView(poke.resource_uri)">
            <div class="img-container">
                <img ng-src="http://pokeapi.co/media/img/{{poke.id}}.png">
            </div>
            <div class="pokecardname">{{poke.name}}</div>
        </div>
    </div>
</div>
<div class="btn-container row">
    <a class="btn btn-info" ng-click="filterLimit = filterLimit * 2">Show more <span class="glyphicon glyphicon-plus"></span></a>
    <a class="btn btn-warning" ng-click="filterLimit = filterLimit / 2">Show less <span class="glyphicon glyphicon-minus"></span></a>
</div>
